name: Build and Publish Docker Image
on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker image
        run: |
          OWNER_LC=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          IMAGE_ID="ghcr.io/$OWNER_LC/pokedex:latest"
          docker build -t $IMAGE_ID .
          docker push $IMAGE_ID

      - name: Run and test container
        run: |
          OWNER_LC=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          IMAGE_ID="ghcr.io/$OWNER_LC/pokedex:latest"
          
          echo "Testando a imagem $IMAGE_ID"
          docker run -d -p 3000:3000 --name test-container $IMAGE_ID
          
          echo "Aguardando a aplicação iniciar..."
          sleep 5
          
          echo "Verificando a resposta da aplicação..."
          curl http://localhost:3000 | grep "Minha aplicação Docker está funcionando!"